*{ padding: 0;
    margin: 0;
}
body {
    background-color: #fff9f3;
}
#fundo{
        width: 98.5vw;
        height: 0%;
        background-color: black;
}
#não {
    position: absolute;
    transition: translate(-50%, _50);
    background-color: rgba(10, 155, 0, 0);
    width: 10vw;
    height: 9.6vh;
    font-size: 20px;
    border-radius: 100px;
    border-right-color: white;
    margin-left: 35vw;
    margin-top: -32%;
}
#sim{
    position: absolute;
    transition: translate(-50%, _50);
    background-color: rgba(10, 155, 0, 0);
    width: 10vw;
    height: 9.6vh;
    font-size: 20px;
    border-radius: 100px;
    border-right-color: white;
    margin-left: 52vw;
    margin-top: -32%;
}