*{ padding: 0;
    margin: 0;
}

body {
    background-color: black;
}
#foto{
    width: 53vw;
    height: 11vh;
    margin-left: 0%;
    background-color: black;
}
#fundo{
    width: 100vw;
    height: 99.5vh;
    background-color: black;
}
#emailn{
    position: absolute;
    transition: translate(-50%, _50);
    font-family: Georgia;
    background-color: rgba(255, 255, 255, 0);
    width: 21.25vw;
    height: 5.5vh;
    font-size: 22px;
    border-color: rgba(0, 104, 214);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 10px;
    margin-left: 38.5vw;
    margin-top: 27vh;
}
#proximo {
    position: absolute;
    transition: translate(-50%, _50);
    font-family: Georgia;
    background-color: rgb(0, 104, 214);
    width: 22.4vw;
    height: 6.7vh;
    font-size: 20px;
    border-radius: 4px;
    border-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    margin-left: 38.5vw;
    margin-top: 52.5vh;
}
#Emails{
        position: absolute;
        transition: translate(-50%, _50);
        color: rgb(0, 103, 214);
        font-weight: bold;
        font-size: 19px;
        margin-left: 38.5vw;
        margin-top: 24vh;
}
#Cobrir{
    position: absolute;
    transition: translate(-50%, _50);
    font-family: Georgia;
    background-color: rgb(255, 255, 255);
    width: 26vw;
    height: 22vh;
    border-radius: 8.5px;
    margin-left: 36.5vw;
    margin-top: -35vh;
}
#Cobrir2{
    position: absolute;
    transition: translate(-50%, _50);
    width:27vw;
    height: 36vh;
    font-size: 22px;
    border-radius: 8px;
    margin-left: 37vw;
    margin-top: -71vh;;
    background-color: #ffffff;
}
#senhan{
    position: absolute;
    transition: translate(-50%, _50);
    font-family: Georgia;
    background-color: rgba(255, 255, 255, 0);
    width: 21.25vw;
    height: 5.5vh;
    font-size: 22px;
    border-color: rgba(0, 104, 214);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 10px;
    margin-left: 38.5vw;
    margin-top: 38vh;
}
#Senhas{
        position: absolute;
        transition: translate(-50%, _50);
        color: rgb(0, 103, 214);
        font-weight: bold;
        font-size: 19px;
        margin-left: 38.5vw;
        margin-top: 35vh;
}
#create {
    position: absolute;
    transition: translate(-50%, _50);
    color: rgb(58, 58, 58);
    font-weight: bold;
    font-size: 15px;
    margin-left: 38.5vw;
    margin-top: 46vh;
}
